@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--dark);
    color: var(--primary);
    font-family: 'Space Mono', monospace;
    padding: 5px 10px ;
}

.page {
    max-width: 900px;
    margin: 0 auto;
}

/* Header styles */

.header {
    display: flex;
    justify-content: flex-start;
}
.logo {
    width: 40px;
    height: auto;
    margin-right: 20px;
    transform: rotate(45deg);
}

/* Form */
.submit-button {
    padding: 5px 10px;
    display: block;
    border: none;
    background-color: var(--primary);
    color: var(--dark);
    border-radius: 5px;
    font-family: 'Space Mono', monospace;
}

#slider-label,
#length-slider {
    display: none;
}

.waiting-icon {
    display:none;
    position: fixed;
    top: 50%;
    right: 50%;
    width: 100px;
    height: auto;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Neo Data */

.neo {
    margin: 10px 0;
    color: var(--light);
    font-weight: 100;
}

.neo-header {
    margin-top: 5px;
}

.icon {
    width: 30px;
}

.danger {
    color: red;
}

.fact {
    font-weight: 100;
}

.details-btn {
    background-color: var(--primary);
    color: var(--black);
    border: none;
    border-radius: 3px;
    padding: 4px;
}

/* Details page */
